body{
    margin:0px;
    padding: 0px;
}

.msg-erro{
    color: red;
}

.conteiner{
    font-size:25px;
    margin:70px;
}

#titulo-principal{
    text-align: center;
    background-color: #339182;
    color:#fff;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;;
}

.box1 h2{
    float:left;
}

.box1 button{
    float:right;
}
